h1 {
  color: #0170ff;
}

a {
  color: #ff0101;
}

li {
  border-left: 5px solid #005cfc;
  background-color: #f1f1f1;
  list-style-type: none;
  padding: 10px 20px;
}

.content {
  padding: 20px;
  margin: 10px;
  background-color: #424edc;
  color: #fff;
  font-style: italic;
}

.active {
  border-left: 5px solid #01e4ff;
}

.footer {
  padding: 20px;
  margin: 10px;
  background-color: #424edc;
  color: #fff;
  text-align: center;
}
